.laps {
  margin-top: 16px;
  ul {
    color: transparent;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: black;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: #3e3d3d;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .delete-lap {
      margin-left: 7px;
      background-color: #ff4d4d;
      color: white;
      border: none;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 16px;
      line-height: 1;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #cc0000;
        transform: scale(1.1);
      }
    }

    &.last-lap {
      border: 2px solid #333;
      background-color: #eee;
    }
  }
}
