.world-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  .timezone-add {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-button {
      background-color: #ff9e1e;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s, transform 0.2s;

      &:hover {
        background-color: #f19720;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .dropdown {
      position: absolute;
      top: -28px;
      width: 96vw;
      background: rgb(19, 19, 19);
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      padding: 40px;
      z-index: 10;
      .dropdown-close {
        position: fixed;
        right: 15px;
        top: 2px;
        margin-bottom: 40px;
        background-color: #ff453a;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 8px 12px;
        cursor: pointer;
        margin-top: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s, transform 0.2s;

        &:hover {
          background-color: #ff3b30;
        }

        &:active {
          transform: scale(0.95);
        }
      }
      .dropdown-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }

      .dropdown-content {
        display: flex;
        flex-direction: column;
        padding: 10px;

        .dropdown-item {
          padding: 10px;
          cursor: pointer;
          color: white;
          border-radius: 7px;
          text-align: center;
          transition: background-color 0.2s;

          &:hover {
            background-color: #1f1e1e;
          }
        }

        .dropdown-item:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .timezone-list {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .timezone-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-radius: 12px;
      width: 95vw;
      margin-bottom: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-2px);
      }

      .timezone-name {
        color: white;
        font-size: 18px;
      }

      .current-time {
        color: #a1a1a6;
        font-size: 18px;
        margin-top: 0;
      }

      .delete-button {
        background-color: #ff453a;
        color: white;
        border: none;
        border-radius: 12px;
        padding: 5px 10px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s, transform 0.2s;

        &:hover {
          background-color: #ff3b30;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
