.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #131313;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .display {
    font-size: 4rem;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .controls {
    display: flex;
    gap: 1rem;

    .stop {
      color: red;
      background-color: rgba(209, 38, 38, 0.1);
    }

    .start {
      background-color: rgba(52, 199, 89, 0.1);
      color: rgb(20, 143, 20);
    }

    .lap,
    .reset {
      background-color: #3d3e41;
    }

    button {
      color: #fff;
      border: none;
      border-radius: 50%;
      padding: 20px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: rgba(18, 212, 18, 0.876);
      }

      &:disabled {
        background: #b0b0b0;
        cursor: not-allowed;
      }
    }
  }
}
