.alarm-container {
  max-width: 54vw;
  margin: 20px auto;
  font-family: "SF Pro Display", "Arial", sans-serif;
  background-color: #1e1d1d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;

  .alarm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      color: white;
      div {
        margin-left: 10px;
      }
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: #4cd964;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #37a44c;
      }
    }
  }

  .alarm-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    input[type="time"] {
      flex: 1;
      padding: 5px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-right: 10px;
    }

    .add-alarm {
      background-color: #4cd964;
      color: white;
      border: none;
      padding: 8px 12px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:disabled {
        background-color: #b0e6b0;
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background-color: #37a44c;
      }
    }
  }

  .alarm-list {
    list-style: none;

    .alarm-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #e0e0e0;
      transition: background-color 0.3s ease;

      .alarm-time {
        font-size: 18px;
        color: #f1eeee;

        &.inactive {
          color: #110e0e;
          text-decoration: line-through;
        }
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 24px;
        margin-right: 10px;

        input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .slider {
            background-color: #4cd964;
          }

          &:not(:checked) + .slider {
            background-color: #ddd;

            &:before {
              right: 20px;
            }
          }

          &:focus + .slider {
            box-shadow: 0 0 1px #4cd964;
          }
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ddd;
          transition: 0.4s;
          border-radius: 24px;

          &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            right: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
          }
        }
      }

      .delete-alarm {
        background: none;
        border: none;
        color: #ff3b30;
        font-size: 14px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #d42a1c;
        }
      }
    }
  }

  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffcc00;
    color: #333;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 1000;

    p {
      margin: 0;
      font-weight: bold;
      font-size: 18px;
    }

    .close-button {
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #d32f2f;
        transform: scale(1.1);
      }
    }
  }

  .alarm-active {
    color: #4cd964;
  }

  .alarm-disabled {
    color: #ccc;
  }
}
